html {
  margin:0px;
  padding:0px;
  .page {
    font-family: sans-serif;
    header.theme {
      margin:0px;
      padding:0px;
      h1{
        margin-left: 40px;
        font-size:36pt;
        font-family: fantasy;
        margin:0px;
        padding:5px 20px;
        background-color:#000;
        border-radius: 0px 40px 40px 0px;
        color:#fff;
      }
      nav ul {
        list-style: none;
        margin:0px;
        padding:5px 10px;
        li {
          display: inline-block;
          margin:0px;
          padding:5px 10px;
        }
        li:before {
          content:" ";
        }
        li a{
          text-decoration: none;
        }
      }
    }
    .content {
      section.post{
        article {
          text-align: center;
          margin:0px;
          max-width: 900px;
          min-width: 400px;
          h1,
          .header,
          .content {
            text-align: justify;
          } 
        }
      }
      section.posts {
        text-align: center;
        margin:70px;
        max-width: 900px;
        min-width: 400px;
        article.post {
          .article {
            min-height:250px;
            left:80px;
            border:0px;
            margin:0px;
            padding:0px;
            padding-left:48px;
            margin-left:32px;
            margin-right:90px;
            border-left:2px dotted #666;
            text-align: justify;
            a {
              text-decoration: none;
              color:#999;
              h1{
                margin:0px;
                padding:10px;
                font-size:1.4em;
                font-family: fantasy;
                font-weight: normal;
              }
              h1:hover {
                text-shadow:0px 0px 8px #000;
                color:#fff;
              }
            }
            .header{
              margin:0px;
              padding:10px;
              font-family: sans-serif;
              font-size:10pt;
            }
            ul.tags {
              list-style: none;
              padding:0px;
              margin:0px;
              margin-left: 10px;
              font-size:9pt;
              li {
                display:inline-block;
                padding:0px;
                margin:0px;
              }
              li a {
                text-transform:capitalize;
              }
              li a:hover {
                color:#666;
                text-decoration: underline;
              }
              li:before{
                content:", ";
              }
              li:first-child:before{
                content:"";
              }
            }
            ul.platforms {
              list-style: none;
              padding:0px;
              margin:0px;
              margin-left: 10px;
              text-transform:uppercase;
              font-size:8pt;
              li {
                display:inline-block;
                padding:0px;
                margin:0px;
              }
              li a:hover {
                color:#666;
                text-decoration: underline;
              }
              li.select a {
                font-weight: bolder;
                color:#333;
              }
              li:before{
                content:", ";
              }
              li:first-child:before{
                content:"";
              }
            }
          }
          .cover{
            width:80px;
            float:right;
            margin-top: 70px;
            margin-left:20px;
            margin-bottom:5px;
            box-shadow: 4px 4px 8px #000;
          }
          .createdAt {
            float:left;
            border-radius:32px;
            width:64px;
            height:64px;
            color:#fff;
            font-size:8pt;
            box-shadow: 0px 0px 17px #333;
            .date{
              margin-top:10px;
              margin-left:0px;
              padding:0px;
              text-align: center;
              font-variant: small-caps;
              font-weight: bold;
              margin:0px;
              padding:5px;
              .day {
                margin:0px;
                padding:0px;
                font-size:16pt;
                font-family: fantasy;
                font-weight: normal;
              }
              .month {
                margin:0px;
                margin-top:-6px;
                padding:0px;
                font-size:11pt;
                font-variant: normal;
                font-weight: normal;
              }
              .year {
                margin-top:-4px;
                font-size:9pt;
              }
            }
          }
          .movie {
            background-color:#006;
          }
          .x360 {
            background-color:#090;
          }
          .ps3 {
            background-color:#009;
          }
          .xone {
            background-color:#090;
          }
          .ps4 {
            background-color:#009;
          }
          .wii {
            background-color:#eee;
          }
          .wiiu {
            background-color:#088;
          }
        }
      }
    }
    footer {
      margin-top:0px;
      padding:20px;
      border-top: 1px dotted #000;
      text-align: right;
      .logo {
        float:left;
      }
    }
  }
}