<div id="login-form" class="modal hidden" ng-hide="loginDisplay" style="width:300px; height:240px" ng-controller="MenuCtrl"> 
	<header><h2>Login<span>X</span></h2></header>
	<section>
		<p>Please, enter your creadentials :</p>
		<ul>
			<li><input type="text" ng-bind="user.username" name="username" placeholder="username"></li>
			<li><input type="password" ng-bind="user.password" name="password" placeholder="password"></li>
		</ul>
	</section>
	<footer>
		<div class="actions">
			<button type="button" id="bt-cancel"  accesskey="C" ng-click="cancel();">Cancel</button>
			<button type="button" class="default" id="bt-ok" accesskey="L" ng-click="login();">Login</button>
		</div>
		<div class="clear"></div>
	</footer>
</div>