<div class="user">
	<img  ng-if="user.username" class="avatar" src="{{user.avatar}}" title="{{user.title}}" />
	<img  ng-if="!user.username" class="avatar" src="/images/default-user.png" title="user not logged in" />
	<nav class="infos">
		<ul>
			<li ng-if="user.username" class="username"><a href="#/{{user.url}}">{{user.firstname}} {{user.lastname}}</a></li>
			<li ng-if="user.username"><a href="#/profile/logout" ng-click="logout();">Logout</a></li>
			<li ng-if="user.username"><a href="#/profile/prefs" ng-click="preferences()">Preferences</a></li>
			<li ng-if="!user.username"><a ng-click="open();">Login</a></li>
			<li ng-if="!user.username"><a href="#/profile/register" ng-click="register();">Register</a></li>
		</ul>
	</nav>
</div>        
