@import url(https://fonts.googleapis.com/css?family=Passion+One:400,700,900|Comfortaa|Special+Elite|Overlock:400,700,900);
html body {
  margin: 0px;
  padding: 0px;
  background-image: url(https://git-scm.com/images/bg/body.jpg); }
html .page {
  font-family: sans-serif;
  z-index: 0; }
  html .page .layerbg {
    position: fixed;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: 110px;
    z-index: 100;
    filter: blur(10px);
    background-image: url(../images/blur.svg#blur);
    background-position: center middle; }
  html .page header.theme {
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 110px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 4px 8px #333;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 110; }
    html .page header.theme h1 {
      margin-left: 40px;
      font-size: 36pt;
      font-family: Passion One;
      margin: 0px;
      padding: 5px 20px;
      background-color: #000;
      border-radius: 0px 40px 40px 0px;
      color: #fff; }
    html .page header.theme nav ul {
      list-style: none;
      margin: 0px;
      padding: 5px 10px; }
      html .page header.theme nav ul li {
        display: inline-block;
        margin: 5px; }
        html .page header.theme nav ul li a {
          text-decoration: none;
          display: block;
          margin: 0px;
          padding: 5px 10px; }
        html .page header.theme nav ul li a.selected {
          background-color: #000;
          color: #999; }
        html .page header.theme nav ul li input.search {
          margin: 10px;
          padding: 2px;
          margin-right: 0px;
          font-family: Passion One; }
        html .page header.theme nav ul li button {
          margin: 10px;
          margin-top: 11px;
          padding: 2px;
          margin-left: 0px; }
      html .page header.theme nav ul li:hover a {
        background-color: #666;
        color: #999; }
      html .page header.theme nav ul li:before {
        content: ""; }
      html .page header.theme nav ul li.right {
        float: right;
        margin-bottom: 10px; }
    html .page header.theme div.user {
      float: right;
      width: 180px; }
      html .page header.theme div.user nav.infos ul {
        text-align: right;
        margin: 10px;
        padding: 0px;
        padding-right: 50px; }
        html .page header.theme div.user nav.infos ul li {
          display: block;
          list-style: none;
          margin: 0px;
          padding: 0px; }
          html .page header.theme div.user nav.infos ul li a {
            color: #fff;
            margin: 0px;
            padding: 0px;
            font-size: 9pt;
            text-decoration: none; }
        html .page header.theme div.user nav.infos ul li.username a {
          color: #bbb;
          font-size: 12pt; }
      html .page header.theme div.user .avatar {
        top: 0px;
        float: right;
        width: 48px;
        height: 48px;
        margin: 8px;
        /*padding:8px;*/
        border-radius: 32px; }
  html .page header.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); }
  html .page .content {
    display: block;
    overflow-x: hidden;
    /*for hiding horizontal scroll bar*/
    overflow-y: auto;
    margin-top: 120px;
    z-index: 80;
    text-align: center;
    padding-bottom: 60px; }
    html .page .content section.post {
      z-index: 130; }
      html .page .content section.post article {
        text-align: center;
        margin: 20px;
        max-width: 900px;
        min-height: 550px; }
        html .page .content section.post article .info {
          float: left;
          text-align: left;
          width: 150px;
          margin: 0px;
          font-size: 10pt;
          margin-right: 10px;
          margin-bottom: 10px; }
          html .page .content section.post article .info img.cover {
            display: block;
            float: left;
            width: 140px;
            margin-bottom: 20px;
            box-shadow: 2px 2px 5px #333; }
          html .page .content section.post article .info ul {
            background-color: #eee;
            float: left;
            display: block;
            list-style: none;
            margin: 10px 0px 0px 0px;
            padding: 10px;
            width: 120px; }
            html .page .content section.post article .info ul li {
              margin: 0px;
              padding: 4px 8px; }
              html .page .content section.post article .info ul li em {
                display: block; }
              html .page .content section.post article .info ul li .score {
                text-align: center;
                /* vertical-align: middle; */
                width: 42px;
                height: 42px;
                padding: 4px;
                margin: 0px;
                margin-left: 0px;
                border: 0px;
                font-size: 36px;
                font-family: Passion One;
                color: #fff;
                background: #666;
                text-shadow: -1px -1px 2px #333; }
        html .page .content section.post article .article {
          margin-left: 160px;
          min-height: 390px; }
          html .page .content section.post article .article h1,
          html .page .content section.post article .article .post-header {
            text-align: justify; }
            html .page .content section.post article .article h1 div.bandeau,
            html .page .content section.post article .article .post-header div.bandeau {
              background-color: #999;
              background-image: attr(data-src url);
              width: 100%;
              height: 120px;
              margin: 0px 10px;
              background-position: center; }
          html .page .content section.post article .article .post-content {
            text-align: justify; }
            html .page .content section.post article .article .post-content div.bandeau {
              background-color: #999;
              background-image: attr(data-src url);
              width: 100%;
              height: 120px;
              margin: 0px 10px;
              background-position: center; }
          html .page .content section.post article .article h1, html .page .content section.post article .article h2, html .page .content section.post article .article h3 {
            font-family: Comfortaa; }
    html .page .content section.posts {
      text-align: center;
      margin: 24px 16px 0px 16px;
      max-width: 900px;
      min-width: 400px; }
      html .page .content section.posts article.post .article {
        min-height: 250px;
        padding-left: 10%;
        padding-right: 15%;
        margin-left: 32px;
        margin-right: 5%;
        border-left: 2px dotted #000;
        text-align: justify; }
        html .page .content section.posts article.post .article a {
          text-decoration: none;
          color: #999; }
          html .page .content section.posts article.post .article a h1 {
            margin: 0px;
            padding: 10px;
            font-size: 1.4em;
            font-family: Comfortaa;
            font-weight: normal; }
          html .page .content section.posts article.post .article a h1:hover {
            text-shadow: 0px 0px 8px #000;
            color: #fff; }
        html .page .content section.posts article.post .article .header {
          margin: 0px;
          padding: 10px;
          font-family: sans-serif;
          font-size: 10pt; }
      html .page .content section.posts article.post img.cover {
        width: 80px;
        float: right;
        margin-top: 84px;
        margin-left: 20px;
        margin-bottom: 5px;
        box-shadow: 4px 4px 8px #000; }
      html .page .content section.posts article.post img.cover:hover {
        transition: rotate(3deg) 0.2s ease-in-out; }
      html .page .content section.posts article.post .createdAt {
        float: left;
        border-radius: 32px;
        width: 64px;
        height: 64px;
        color: #fff;
        font-size: 8pt;
        box-shadow: 0px 0px 17px #333; }
        html .page .content section.posts article.post .createdAt .date {
          margin-top: 10px;
          margin-left: 0px;
          padding: 0px;
          text-align: center;
          font-variant: small-caps;
          font-weight: bold;
          margin: 0px;
          padding: 5px; }
          html .page .content section.posts article.post .createdAt .date .day {
            margin: 0px;
            padding: 0px;
            font-size: 16pt;
            font-family: fantasy;
            font-weight: normal; }
          html .page .content section.posts article.post .createdAt .date .month {
            margin: 0px;
            margin-top: -6px;
            padding: 0px;
            font-size: 9pt;
            font-variant: normal;
            font-weight: bold; }
          html .page .content section.posts article.post .createdAt .date .year {
            margin-top: -4px;
            font-size: 12pt; }
      html .page .content section.posts article.post .movie {
        background-color: #000; }
      html .page .content section.posts article.post .x360 {
        background-color: #090; }
      html .page .content section.posts article.post .ps3 {
        background-color: #009; }
      html .page .content section.posts article.post .xone {
        background-color: #090; }
      html .page .content section.posts article.post .ps4 {
        background-color: #009; }
      html .page .content section.posts article.post .wii {
        background-color: #eee; }
      html .page .content section.posts article.post .wiiu {
        background-color: #088; }
      html .page .content section.posts article.post .post:last-child {
        border-color: linear-gradient(black, white); }
  html .page section.posts .post:last-child .header {
    min-height: 200px; }
  html .page footer {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    margin-top: 0px;
    padding: 10px;
    font-size: 8pt;
    box-shadow: 0px -4px 16px #ddd;
    text-align: right; }
    html .page footer .logo {
      float: left; }
    html .page footer p {
      padding-right: 5em; }
html .pegi {
  padding: 20px 120px;
  width: 48px;
  height: 48px;
  background-size: 48px;
  background-repeat: no-repeat; }
html .pegi_bad_language {
  background-image: url("http://www.pegi.info/fr/img/descriptors/bad_language.gif"); }
html .pegi_discrimination {
  background-image: url("http://www.pegi.info/fr/img/descriptors/discrimination.gif"); }
html .pegi_drugs {
  background-image: url("http://www.pegi.info/fr/img/descriptors/drugs.gif"); }
html .pegi_fear {
  background-image: url("http://www.pegi.info/fr/img/descriptors/fear.gif"); }
html .pegi_gambling {
  background-image: url("http://www.pegi.info/fr/img/descriptors/gambling.gif"); }
html .pegi_online {
  background-image: url("http://www.pegi.info/fr/img/descriptors/violence.gif"); }
html .pegi_violence {
  background-image: url("http://www.pegi.info/fr/img/descriptors/online.gif"); }
html .pegi_sex {
  background-image: url("http://www.pegi.info/fr/img/descriptors/sex.gif"); }
html .pegi_3 {
  background-image: url("http://www.pegi.info/fr/index/id/75/media/img/320.gif"); }
html .pegi_7 {
  background-image: url("http://www.pegi.info/fr/index/id/75/media/img/321.gif"); }
html .pegi_12 {
  background-image: url("http://www.pegi.info/fr/index/id/75/media/img/322.gif"); }
html .pegi_16 {
  background-image: url("http://www.pegi.info/fr/index/id/75/media/img/323.gif"); }
html .pegi_18 {
  background-image: url("http://www.pegi.info/fr/index/id/75/media/img/324.gif"); }

ul.tags {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  font-size: 9pt; }
  ul.tags li {
    display: inline-block;
    padding: 0px;
    margin: 0px; }
  ul.tags li a {
    text-transform: capitalize; }
  ul.tags li a:hover {
    color: #666;
    text-decoration: underline; }
  ul.tags li:before {
    content: ", "; }
  ul.tags li:first-child:before {
    content: ""; }

ul.platforms {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 8pt; }
  ul.platforms li {
    display: inline-block;
    padding: 0px;
    margin: 0px; }
  ul.platforms li a:hover {
    color: #666;
    text-decoration: underline; }
  ul.platforms li.select a {
    font-weight: bolder;
    color: #333; }
  ul.platforms li:before {
    content: ", "; }
  ul.platforms li:first-child:before {
    content: ""; }

.balance {
  display: block;
  width: 100%;
  font-size: 9pt; }

.balance div h6 {
  display: block;
  font-weight: bolder;
  text-align: center;
  padding: 2px;
  margin: 0px;
  font-size: 32px; }

.plus {
  display: inline-block;
  text-align: left;
  width: 40%;
  background-color: lightgreen;
  color: darkgreen;
  margin-right: 5%;
  vertical-align: top; }
  .plus h6 {
    background-color: darkgreen;
    color: lightgreen; }

.minus {
  display: inline-block;
  text-align: left;
  width: 40%;
  background-color: pink;
  color: red;
  margin-left: 5%;
  vertical-align: top; }
  .minus h6 {
    background-color: red;
    color: pink; }

.hidden {
  display: none; }

.show {
  display: block; }

.clear {
  clear: both; }

.modal {
  position: fixed;
  top: 180px;
  left: 33%;
  width: 33%;
  min-height: 250px;
  max-height: 500px;
  min-width: 400px;
  max-width: 700px;
  border: 1px solid #666;
  border-radius: 4px 4px 2px 2px;
  background-color: #fff;
  box-shadow: 8px 8px 16px #666; }
  .modal h2 {
    margin: 0px;
    padding: 4px 8px;
    font-size: 12pt;
    font-weight: bold;
    background-color: #bbb;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    border-radius: 4px 4px 2px 2px;
    font-family: serif;
    border-bottom: 1px solid #666; }
    .modal h2 span {
      float: right;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      font-family: sans-serif;
      border-radius: 4px;
      width: 16px;
      height: 16px;
      padding: 0px;
      border: 2px solid #666;
      background-color: #bbb;
      color: #333;
      text-shadow: none; }
  .modal section {
    width: 100%;
    text-align: center;
    min-height: 100px; }
    .modal section ul {
      list-style: none;
      margin: 8px;
      padding: 0px; }
      .modal section ul li {
        padding: 0px;
        margin: 8px; }
        .modal section ul li input {
          border: 1px inset #666;
          border-radius: 4px;
          padding: 2px 4px;
          font-size: 12pt; }
  .modal footer {
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 32px; }
    .modal footer .actions {
      text-align: right;
      margin: 0px;
      padding: 10px;
      background-color: #eee; }
      .modal footer .actions button {
        border: 1px inset #666;
        border-radius: 4px;
        min-width: 60px;
        height: 24px;
        font-size: 10pt; }
      .modal footer .actions button:hover {
        border: 1px outset #ddd;
        color: #333; }
      .modal footer .actions .default {
        background-color: #efe;
        border: 1px inset #898; }

/*# sourceMappingURL=main.css.map */
