<div id="userslist" class="list">
	<table>
		<thead><th><td>username</td><td>firstname</td><td>lastname</td><td>email</td><td>actions</td></th></thead>
		<tbody>
		<tr ng-repeat="user in users"><td>{{user.username}}</td><td>{{user.firstname}}</td><td>{{user.lastname}}</td><td>{{user.email}}</td><td>{{user.roles}}</td><td><a href="#/user/edit/{{user.id}}"></a> <a href="#/user/delete/{{user.id}}"></a></td></tr>
		</tbody>
		<tfoot><tr><td colspan="6">
		<a href="#/user/page/first">&lt;|</a> 
		<a href="#/user/page/first">&lt;&lt;</a>
		<a href="" ng-repeat="page in user.pageable">{{page}}</a>
		<a href="#/user/page/first">&gt;&gt;</a>
		<a href="#/user/page/last">&gt;|</a></td></tr></tfoot>
	</table>
</div>