<nav class="mainMenu">
	<ul>
		<li ng-repeat="item in menuItems | orderBy:'priority'" >
			<a class="{{selectedClass(item.url)}}" href="/#{{item.url}}" title="{{item.tooltip}}" accesskey="{{item.accesskey}}">{{item.label}}</a>
		</li>
	</ul>
</nav>
<nav class="subMenu" ng-show="menuItem.subItems.length!=0">
	<ul>
		<li ng-repeat="subitem in menuItem.subItems">
			<a class="{{selectedClass(subitem.url)}}" href="/#{{subitem.url}}" title="{{subitem.tooltip}}">{{subitem.label}}</a>
		</li>
	</ul>
</nav>
