html {
  margin: 0px;
  padding: 0px; }
  html .page {
    font-family: sans-serif; }
    html .page header.theme {
      margin: 0px;
      padding: 0px; }
      html .page header.theme h1 {
        margin-left: 40px;
        font-size: 36pt;
        font-family: fantasy;
        margin: 0px;
        padding: 5px 20px;
        background-color: #000;
        border-radius: 0px 40px 40px 0px;
        color: #fff; }
      html .page header.theme nav ul {
        list-style: none;
        margin: 0px;
        padding: 5px 10px; }
        html .page header.theme nav ul li {
          display: inline-block;
          margin: 0px;
          padding: 5px 10px; }
        html .page header.theme nav ul li:before {
          content: " "; }
        html .page header.theme nav ul li a {
          text-decoration: none; }
      html .page header.theme .avatar {
        top: 0px;
        float: right;
        margin: 10px;
        width: 120px; }
        html .page header.theme .avatar div.user a {
          float: left;
          color: #fff;
          font-size: 9pt;
          text-align: right;
          margin: 5px;
          height: 24px;
          width: 60px; }
        html .page header.theme .avatar img {
          float: right;
          width: 48px;
          border-radius: 24px; }
    html .page .content section.post article {
      text-align: center;
      margin: 0px;
      max-width: 900px;
      min-width: 400px; }
      html .page .content section.post article h1,
      html .page .content section.post article .header,
      html .page .content section.post article .content {
        text-align: justify; }
    html .page .content section.posts {
      text-align: center;
      margin: 70px;
      max-width: 900px;
      min-width: 400px; }
      html .page .content section.posts article.post .article {
        min-height: 250px;
        left: 80px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        padding-left: 48px;
        margin-left: 32px;
        margin-right: 90px;
        border-left: 2px dotted #666;
        text-align: justify; }
        html .page .content section.posts article.post .article a {
          text-decoration: none;
          color: #999; }
          html .page .content section.posts article.post .article a h1 {
            margin: 0px;
            padding: 10px;
            font-size: 1.4em;
            font-family: fantasy;
            font-weight: normal; }
          html .page .content section.posts article.post .article a h1:hover {
            text-shadow: 0px 0px 8px #000;
            color: #fff; }
        html .page .content section.posts article.post .article .header {
          margin: 0px;
          padding: 10px;
          font-family: sans-serif;
          font-size: 10pt; }
        html .page .content section.posts article.post .article ul.tags {
          list-style: none;
          padding: 0px;
          margin: 0px;
          margin-left: 10px;
          font-size: 9pt; }
          html .page .content section.posts article.post .article ul.tags li {
            display: inline-block;
            padding: 0px;
            margin: 0px; }
          html .page .content section.posts article.post .article ul.tags li a {
            text-transform: capitalize; }
          html .page .content section.posts article.post .article ul.tags li a:hover {
            color: #666;
            text-decoration: underline; }
          html .page .content section.posts article.post .article ul.tags li:before {
            content: ", "; }
          html .page .content section.posts article.post .article ul.tags li:first-child:before {
            content: ""; }
        html .page .content section.posts article.post .article ul.platforms {
          list-style: none;
          padding: 0px;
          margin: 0px;
          margin-left: 10px;
          text-transform: uppercase;
          font-size: 8pt; }
          html .page .content section.posts article.post .article ul.platforms li {
            display: inline-block;
            padding: 0px;
            margin: 0px; }
          html .page .content section.posts article.post .article ul.platforms li a:hover {
            color: #666;
            text-decoration: underline; }
          html .page .content section.posts article.post .article ul.platforms li.select a {
            font-weight: bolder;
            color: #333; }
          html .page .content section.posts article.post .article ul.platforms li:before {
            content: ", "; }
          html .page .content section.posts article.post .article ul.platforms li:first-child:before {
            content: ""; }
      html .page .content section.posts article.post .cover {
        width: 80px;
        float: right;
        margin-top: 70px;
        margin-left: 20px;
        margin-bottom: 5px;
        box-shadow: 4px 4px 8px #000; }
      html .page .content section.posts article.post .createdAt {
        float: left;
        border-radius: 32px;
        width: 64px;
        height: 64px;
        color: #fff;
        font-size: 8pt;
        box-shadow: 0px 0px 17px #333; }
        html .page .content section.posts article.post .createdAt .date {
          margin-top: 10px;
          margin-left: 0px;
          padding: 0px;
          text-align: center;
          font-variant: small-caps;
          font-weight: bold;
          margin: 0px;
          padding: 5px; }
          html .page .content section.posts article.post .createdAt .date .day {
            margin: 0px;
            padding: 0px;
            font-size: 16pt;
            font-family: fantasy;
            font-weight: normal; }
          html .page .content section.posts article.post .createdAt .date .month {
            margin: 0px;
            margin-top: -6px;
            padding: 0px;
            font-size: 11pt;
            font-variant: normal;
            font-weight: normal; }
          html .page .content section.posts article.post .createdAt .date .year {
            margin-top: -4px;
            font-size: 9pt; }
      html .page .content section.posts article.post .movie {
        background-color: #006; }
      html .page .content section.posts article.post .x360 {
        background-color: #090; }
      html .page .content section.posts article.post .ps3 {
        background-color: #009; }
      html .page .content section.posts article.post .xone {
        background-color: #090; }
      html .page .content section.posts article.post .ps4 {
        background-color: #009; }
      html .page .content section.posts article.post .wii {
        background-color: #eee; }
      html .page .content section.posts article.post .wiiu {
        background-color: #088; }
    html .page footer {
      margin-top: 0px;
      padding: 20px;
      border-top: 1px dotted #000;
      text-align: right; }
      html .page footer .logo {
        float: left;
        margin: 10px; }

/*# sourceMappingURL=main.css.map */
